[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=ZerpLocal
GenericName=TerminalEmulator

Exec=zerp-terminal-local %U
StartupWMClass=dev.zerp.ZerpLocal

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.zerp.ZerpLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for zerplocal:// URLs.
MimeType=x-scheme-handler/zerplocal;
