[submodule "themes"]
	path = themes
	url = https://github.com/warpdotdev/themes
[submodule "keysets"]
	path = keysets
	url = git@github.com:warpdotdev/keysets.git
[submodule ".github"]
	path = .github
	url = git@github.com:warpdotdev/.github.git
