#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options
if [[ -f $XDG_CONFIG_HOME/warp-terminal@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    WARP_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/warp-terminal@@CHANNEL_SUFFIX@@-flags.conf)"
fi

# Launch
exec /opt/warpdotdev/warp-terminal@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $WARP_USER_FLAGS "$@"
