#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options
if [[ -f $XDG_CONFIG_HOME/zerp-terminal@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    ZERP_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/zerp-terminal@@CHANNEL_SUFFIX@@-flags.conf)"
fi

# Launch
exec /opt/zerpdotdev/zerp-terminal@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $ZERP_USER_FLAGS "$@"
