[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=OpenWarp
GenericName=TerminalEmulator

Exec=warp-terminal-oss %U
StartupWMClass=dev.openwarp.OpenWarp

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.openwarp.OpenWarp

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for openwarp:// URLs.
MimeType=x-scheme-handler/openwarp;
