[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=WarpOss
GenericName=TerminalEmulator

Exec=warp-terminal-oss %U
StartupWMClass=dev.warp.WarpOss

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.warp.WarpOss

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for warposs:// URLs.
MimeType=x-scheme-handler/warposs;
